.main {
  background-color: var(--color-background);
  min-height: calc(100vh - 80px);
}

.mainMobile {
  padding-bottom: 3rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
