.card {
  padding: 0.9rem 1rem;
  border-radius: 12px;
  border: 1px dashed var(--color-border);
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 0.4rem;
  margin-top: 0.5rem;
}

.info {
  min-width: 0;
}

.orderNumber {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.05rem;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.items {
  display: flex;
  align-items: center;
  overflow-x: auto;
  max-width: 100%;
  overflow-y: hidden;
}

.link {
  cursor: pointer;
}

.image {
  max-width: 150px;
  transition: transform 250ms ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1.5rem;
  border-left: 1px solid var(--color-border);
  text-align: right;
}

.date {
  color: var(--color-text-secondary);
  font-weight: 600;
  font-size: 0.9rem;
}

.totalAmount {
  font-weight: 600;
  font-size: 1.1rem;
}

.items::-webkit-scrollbar {
  height: 8px;
}

.items::-webkit-scrollbar-track {
  background: var(--color-border);
  border-radius: 8px;
}

.items::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 750px) {
  .orderNumber {
    font-size: 0.9rem;
  }

  .image {
    width: 75px;
  }

  .date {
    font-size: 0.7rem;
  }

  .totalAmount {
    font-size: 0.8rem;
  }

  .items::-webkit-scrollbar {
    height: 4px;
  }
}

@media (max-width: 450px) {
  .orderNumber {
    font-size: 0.7rem;
  }

  .summary {
    padding-left: 0.75rem;
  }

  .date {
    font-size: 0.6rem;
  }

  .totalAmount {
    font-size: 0.65rem;
  }
}
