.buttonWrapper {
  position: absolute;
  top: 10px;
  right: 10px;
}

.favoriteButton {
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  transition: color 250ms ease-in-out;

  &:hover {
    color: #ef4444;
  }
}
