.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.25rem;
  gap: 1rem;
}

.chevron {
  background-color: var(--color-primary);
  color: var(--color-surface);
  padding: 0.25rem;
  border-radius: 4px;
  transition: opacity 250ms ease-in-out;

  &:hover {
    opacity: 80%;
  }

  &:disabled {
    opacity: 60%;
    cursor: not-allowed;
  }
}

.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.pageButton {
  font-size: 1.2rem;
  width: 35px;

  &:hover {
    text-decoration: underline;
  }
}

.currentPage {
  color: var(--color-primary);
  font-weight: 600;
  border: 2px solid var(--color-border);
  border-radius: 4px;

  &:hover {
    text-decoration: none;
  }
}

@media (max-width: 450px) {
  .pagination {
    gap: 0.5rem;
  }

  .chevron {
    font-size: 0.5rem;
  }

  .pageButton {
    font-size: 1rem;
  }
}
